@import "./kit.css";

/*###################################################( FONTS )###################################################*/

/* @font-face {
  font-family: "editors-note";
  src: url("./font/editors-note-extralight.otf") format("opentype"),
    url("https://inspatial-storage.s3.eu-west-2.amazonaws.com/fonts/editors-note/editors-note-extralight.otf")
      format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "editors-note-lightitalic";
  src: url("./font/editors-note-lightitalic.otf") format("opentype"),
    url("https://inspatial-storage.s3.eu-west-2.amazonaws.com/fonts/editors-note/editors-note-lightitalic.otf")
      format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("./font/inter.ttf") format("truetype"),
    url("https://inspatial-storage.s3.eu-west-2.amazonaws.com/fonts/inter/inter.ttf")
      format("truetype");
  font-display: swap;
} */

/*###################################################( THEME )###################################################*/

@theme {
  --window: hsla(0, 0%, 100%, 0.3);
  --surface: hsla(0, 0%, 100%, 0.7);
  --background: hsla(228, 52%, 96%, 1);
  --brand: hsla(274, 100%, 50%, 1);
  --primary: hsla(231, 42%, 15%, 1);
  --secondary: hsla(224, 46%, 89%, 1);
  --muted: hsla(228, 52%, 96%, 1);
}
[data-theme="dark"] {
  --window: hsla(229, 41%, 18%, 0.3);
  --surface: hsla(229, 41%, 18%, 0.6);
  --background: hsla(233, 44%, 12%, 1);
  --primary: hsla(0, 0%, 100%, 1);
  --secondary: hsla(232, 31%, 29%, 1);
  --muted: hsla(233, 44%, 12%, 0.25);
}

/*###################################################( BASE )###################################################*/

@layer base {
  body {
    font-family: var(--font-inder);
    background-color: var(--background);
    color: var(--primary);
  }
}

/*###################################################( COMPONENTS )###################################################*/

@layer components {
  /* .gh-content {
    color: var(--brand);
  } */
}

/*###################################################( UTILITIES )###################################################*/
@layer utilities {
  .brand {
    color: var(--brand);
  }
}
